@import "~@shared/styles/colors.sass"
@import "~@shared/styles/breakpoints.sass"
@import "~@shared/styles/fonts.sass"

*
  box-sizing: border-box

body
  font-family: 'Interstate', sans-serif

.app
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden

  @include breakpoint(small)
    display: flex
    flex-direction: column

.mapWithDetail
  height: calc(100% - 30px)
  display: flex
  flex-direction: column
  border-bottom: 2px solid white

  @include breakpoint(small)
    height: calc(100% - 95px)

.map
  display: flex
  width: 100%
  flex: 1 1 100%
  overflow: hidden
  position: relative

  @include breakpoint(small)
    width: 100%
    height: 500px
    max-height: 60%
    min-height: 0
    flex: 1 1 auto

.detail
  width: 100%
  flex: 1 1 auto

  @include breakpoint(small)
    width: 100%
    flex: 1 1 auto

.schoolTypeFilter
  @include breakpoint(small)
    order: -1
