@import "~@shared/styles/colors.sass"
@import "~@shared/styles/breakpoints.sass"

.detail
  display: flex
  flex-flow: column
  justify-content: center
  background-color: $background-grey
  position: relative
  padding: 10px 15px
  border: 2px solid $dark-grey
  font-size: 14px

  &.hasMarker
    justify-content: flex-start

  @include breakpoint(small)
    padding: 8px 10px 10px

.title
  font-size: 18px
  margin: 0
  margin-bottom: 0
  margin-right: 5px
  line-height: 1.2em
  color: $red

  @include breakpoint(small)
    font-size: 16px

.helpText
  display: block
  color: $dark-grey
  font-size: 14px
  font-weight: bold
  line-height: 1.3em
  text-align: center
  padding: 0 10px
  margin: 0

  p
    margin: 0 10px
    width: 50%

  @include breakpoint(small)
    padding: 10px 30px

