// rbb colors
$red: #e31818
$background-grey: #EAEAEA
$light-grey: #D5D5D5
$grey: #868686
$dark-grey: #585856

// export for use in js
\:export
  red: $red
  backgroundGrey: $background-grey
  lightGrey: $light-grey
  grey: $grey
  darkGrey: $dark-grey
